/*----------------------------------------------------------------------------
    generic
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*----------------------------------------------------------------------------
    base
----------------------------------------------------------------------------*/

body {
    font: 1.125rem "Montserrat", sans-serif;
}

/*----------------------------------------------------------------------------
    mise en page
----------------------------------------------------------------------------*/
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/*----------------------------------------------------------------------------
    element
----------------------------------------------------------------------------*/

header {
    background-color: #E9F0E0;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font: bold 3.4375rem "Montserrat", sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    text-align: center;
}

h2 {
    font: 3rem "Bebas Neue", sans-serif;
    color: #2F7326;
}

button:hover {
    cursor: pointer;
}

/*----------------------------------------------------------------------------
    components
----------------------------------------------------------------------------*/

.header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
    cursor: pointer;
    margin: none;

}


.header .logo {
    text-decoration: none;
    font: 2.25rem "Bebas Neue", sans-serif;
    color: #2F7326;
}

.menu li {
    font: bold 1.125rem "Montserrat", sans-serif;
    color: black;
}

.menu li:hover {
    text-decoration: underline;
}

.menu li a:hover {
    color: #0C295C;
}

.hero {
    background: url(../images/hero\ 1.png) no-repeat center/cover;
    height: 395px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infolettre {
    background-color: #DDE255;
    padding: 40px 0;
}

.infolettre p {

    font: lighter 1.875rem "Montserrat", sans-serif;
}

.infolettre .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infolettre button {
    background-color: #0C295C;
    color: white;
    font: bold 1.125rem "Montserrat", sans-serif;
    padding: 10px 30px;
}


.equipe {
    background: url(../images/image_equipe\ 1.png) no-repeat center/cover;
}

.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.presentation h2 {
    margin: 0;
    padding: 45px 0;
}

.presentation p {
    margin: 0;
    width: 955px;
    padding-bottom: 45px;
}

.equipe .description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.produits .vetement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.produits .raquette {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.employer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.employer h3 {
    color: #2F7326;
    text-transform: uppercase;
    font: 2.25rem "Bebas Neue", sans-serif;
    padding-top: 40px;
    margin: 0;
}

.contact {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contact button {
    width: 280px;
    height: 55px;
    background-color: #0C295C;
    color: white;

}


.map {
    background: url(../images/map.png) no-repeat center/cover;
    height: 508px;
    margin: 40px 0;

}


.footer img {
    width: 40px;
}

.footer .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.media ul {
    display: flex;
    list-style: none;
    gap: 30px;
    cursor: pointer;
    margin: none;

}


.footer {
    background-color: #2F7326;
    color: white;
}

/* ----- page liste -----*/

.carte {
    display: flex;
    align-items: center;
    gap: 20px;
}

.carte h3 {
    font: 2.25rem "Bebas Neue", sans-serif;
}

.Brassière {
    width: 600px;
    padding-top: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.info p {
    line-height: 200%;
}

.prix {
    font-size: 1.5625rem;
}

.equipement {
    background: url(../images/image_equipe\ 1.png) no-repeat center/cover;

}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.articles article {
    padding: 20px 0;
}